h1 {
	margin: 10px auto;
	width: 31ch;
	font-family: ;
	font-size: 2em;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid orange;
	animation: border 0.80s step-end infinite, 
	text 3s steps(22);
	}
@keyframes border {
	0% {
		border-color: orange;
	}
	50% {
		border-color: transparent; 
	}
	100% {
		border-color: orange;
	}
}
@keyframes text {
	0% {
		width: 0;
	}
}	
