* { margin: 0; padding: 0; }
body { font-family: 'Yanone Kaffeesatz', sans-serif;}

header {
	background: url(bg.jpg) no-repeat center top / cover;
	height: 100%;
	width: 100%;
}
	/* id HEADING - блок с логотипом и меню*/
#heading {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 50px;
	width: 75%;
}
	/*id TITLE - блок с описанием и кнопками*/
#title {
	color: white;
	display: flex;
	margin: 10% auto;
	text-align: center;
	text-transform: uppercase;
	width: 75%;
}
p {
	font-size: 14px;
	margin: 5%;
	font-family: 'Comfortaa', cursive;
	line-height: 1.7;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px black;
}
button {
	width: 150px;
	height: 60px;
	border: none;
	border-radius: 5px;
	background: #061e37;
	box-shadow: 2px 3px 3px #333;
	color: white;
	cursor: pointer;
	margin-top: 5%;
	text-transform: uppercase;
}
button:hover {
	background-color: white;
	color: black; 
	transition: .70s ease;
}

	/* ARTICLE остальной контент */
