* {
    margin: 0;
    padding: 0;
}

body {
    background: #999;
}
.logo {background: #ff65dc;}
.menu {background: #91c9ff}
.info {background: #9cffac}
.buttons {background: #fff831}

header {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    justify-items: stretch; /*start/end/center */
    
    width: 80%;
    margin: 10px auto;
    text-align: center;
    background: rgba(200,0,0, .3); 
}

.logo {
    justify-self: start;
}

.menu {
    justify-self: end;
}
 
